{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Detailed Rater Info:{% endblock %}

{% block content %}
    <h1>Rater Detail</h1>
    <p>ID: {{ rater.id }}</p>
    <p>Gender: {{ rater.gender }}</p>
    <p>Age: {{ rater.age }}</p>
    <p>Occupation: {{ rater.occupation }}</p>
    <p>Zip code: {{ rater.zip_code }} </p>
    <h3>All the movies rated by this user:</h3>
    {% for rating in rater.rating_set.all %}
            <li>
                <p>
                    Movie:
                        <a href="{% url 'detail_movie' rating.movie_id %}">
                            {{ rating.movie.title }}</a>
                                &nbsp&nbsp
                    Rating:  {{ rating.ratings }}
                </p>
            </li>
    {% endfor %}
{% endblock %}