{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Movie Details{% endblock %}

{% block content %}
    {% csrf_token %}
    <h1>Movie Detail</h1>
    <p><h3>Title:<b> {{ movie.title }}</b> </h3>
    <p>This movie has an Average Rating of: {{ avg_rating }}</p>
    {% if user.is_authenticated %}
        {% if not rated %}
            <a href="{% url 'create_rating' movie.id %}">Click here to rate this movie</a>

        {% endif %}
    {% else %}
        <a href="{% url 'create_rating' movie.id %}">Click here to login and rate this movie</a>
    {% endif %}
    <br>
    <h4>List of users who have rated this movie:</h4>
    <ul>
        {% for each in user_list %}
            <li>
                <p>
                 <a href="{% url 'detail_rater' each.rater_id %}">
                  Rater Id: {{ each.rater_id }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                  Rating:  {{ each.ratings }}&nbsp;&nbsp;&nbsp;&nbsp;
                    {% if each.new_stamp != null %}
                        Rating date/time:  {{ each.new_stamp }}
                    {% endif %}
                </p>
            </li>

        {% endfor %}

    </ul>
{% endblock %}